/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header and Navigation Styling */
header {
    background: #333;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styling */
section {
    padding: 50px;
    margin: 20px 0;
    opacity: 0; /* Initially hide sections */
    transition: opacity 1s ease-in-out; /* Smooth fade-in transition */
}

/* Fade-in animation for sections */
section.visible {
    opacity: 1; /* Make section visible */
}

/* Contact Form Styling */
form {
    display: grid;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}





.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}